.footer {
	background-color: #2F324B;
	padding: 45px 0;
	color: #fff;
}

.footer__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {}

.logo--footer {
	margin-right: 19px;
}

.logo__link {}

.logo__img {}

.copyright {
	/* margin-right: auto; */
	font-size: 12px;
	line-height: 1.4;
	flex-basis: content;
}

.developer {
	margin: 0 auto;

	font-size: 12px;
	line-height: 1.2;
	transform: translateX(-2px);
}

.developer--mobile {
	display: none;
}

.callback {}

.callback__number {}

.callback__recall {}


@media (max-width: 1100px) {
	.footer {
		padding: 37px 0 49px;
	}

	.developer {
		color: #9798a5;
		transform: translateX(-13px);
	}
}

@media(max-width:700px) {
	.footer {
		padding: 25px 0 0;
	}

	.footer__wrapper {
		margin-bottom: 25px;
	}

	.developer {
		display: none;
	}

	.developer--mobile {
		display: block;
		background: rgb(42, 44, 63);
		width: 100vw;
		padding: 15px 0;
		margin: 0 auto;
		text-align: center;
		transform: none;
	}


	.copyright {
		font-size: 8px;
		margin-right: auto;
	}
}