.header {
	padding: 40px 0 120px;
	background-image:
		linear-gradient(to top, #2F324BD9, #2F324BD9),
		url("./../img/header/header-bg.jpg");
	background-color: #2F324BD9;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	color: #FFFFFF;
	font-weight: 400;
}

.header__links {
	display: flex;
	justify-content: space-between;
	align-items: center;


	margin-bottom: 120px;
}

.callback {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
	transform: translateX(-2px);
	align-items: center;

	font-size: 24px;
	font-weight: 400;
}


.callback__recall {
	font-size: 16px;
	line-height: 18.75px;
	color: #FFFFFF;
	border-bottom: #FFFFFF80 solid 1px;
}

.header__content {
	text-align: center;
	max-width: 990px;
	margin: 0 auto;
}

.header__title {
	font-size: 52px;
	font-weight: 900;
	color: #ffffffdb;

	margin-bottom: 35px;
}

.header__desc {
	color: #ffffffbf;
	font-size: 22px;
	line-height: 1.4;

	margin-bottom: 90px;
}

.header__desc--mobile {
	display: none;
}

.button {
	display: inline-block;
	font-weight: 500;

	padding: 12px 48px;
	border-radius: 50px;

	box-shadow: 0px 4px 25px 0px rgba(21, 169, 203, 0.3);
	background: rgb(21, 169, 203);
	box-shadow: 0px 4px 25px 0px rgba(21, 169, 203, 0.3);
}

@media (max-width: 1100px) {
	.header {
		padding: 26px 0 69px;

		background-image:
			linear-gradient(to top, #2F324BD9, #2F324BD9),
			url("./../img/header/header-bg-1024.jpg");

	}

	.header__links {
		margin-bottom: 71px;
	}

	.logo {
		width: 60px;
		height: 60px;
	}

	.callback__number {
		font-size: 21px;
		line-height: 25px;
	}

	.callback__recall {
		font-size: 13px;
	}

	.header__title {
		max-width: 790px;
		margin: 0 auto 30px;
		font-size: 40px;
	}

	.header__desc {
		max-width: 754px;
		font-size: 18px;
		margin: 0 auto 55px;
	}

	.button {
		padding: 13px 49px;
	}
}


@media(max-width: 700px) {

	.callback__number,
	.callback__recall {
		display: none;
	}

	.callback::before {
		content: "";
		display: block;
		background-image: url("./../img/header/phone-20px.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-color: #555A7B;
		border-radius: 50%;
		width: 40px;
		height: 40px;
	}
}

@media(max-width: 600px) {

	.header__title {
		font-size: 25px;
	}

	.header__desc {
		font-size: 16px;
	}

	.button {
		font-size: 16px;
		padding: 9px 28px;
	}
}

@media(max-width: 400px) {
	.header {
		padding: 15px 0 64px;
	}

	.logo__link {
		margin-bottom: 65px;
	}

	.logo {
		width: 30px;
		height: 30px;
	}

	.callback::before {
		background-image: url("./../img/header/phone.svg");
		width: 24px;
		height: 24px;
	}

	.header__links {
		margin-bottom: 66px;
	}

	.header__title {
		font-size: 20px;
		margin-bottom: 27px;
	}

	.header__desc {
		display: none;
	}

	.header__desc--mobile {
		display: block;
		font-size: 14px;
		color: #ffffffbf;
		line-height: 1.4;

		margin-bottom: 53px;
	}

	.button {
		font-size: 16px;
		padding: 10px 38px;
	}
}