.questions {
	padding: 71px 0 70px;
	color: #fff;
	text-align: center;
	background-image:
		linear-gradient(to top, #2F324BD9, #2F324BD9),
		url("./../img/questions/questions-bg.jpg");
	background-color: #2F324BD9;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


.questions__title {
	font-size: 35px;
	font-weight: 700;
	margin-bottom: 19px;
	transform: translateX(-13px);
}

.questions__subtitle {
	color: #ffffffcc;
	font-size: 22px;
	margin-bottom: 49px;
}

.recall-form {}

.recall-form__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 19px;
	flex-wrap: wrap;
	max-width: 426px;
	margin: 0 auto 49px;
	border: none;
}

.recall-form__input {
	border: 1.38px solid rgb(255, 255, 255);
	border-radius: 50px;
	flex-basis: 46px;
	padding: 9px 26px;
	background-color: #00000000;
	color: rgba(255, 255, 255, 0.75);
	font-size: 22px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0%;
}

.recall-form__input::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.button {}

.button--questions {
	color: #fff;
	padding: 13px 37px;
	margin-bottom: 50px;
}

.questions__agreement {
	font-weight: 400;
}

.questions__link {
	position: relative;
	color: #4A76A8;
	display: inline-flex;
}

.questions__link::after {
	position: absolute;
	bottom: 0;
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-color: #4A76A8;
}

@media (max-width:1100px) {
	.questions {
		background-image:
			linear-gradient(to top, #2F324BD9, #2F324BD9),
			url("./../img/questions/questions-bg-1100.jpg");
		padding-bottom: 56px;
	}

	.questions__title {
		font-size: 32px;
		margin-bottom: 17px;
		transform: translateX(-4px);
	}

	.questions__subtitle {
		transform: translateX(8px);
		font-size: 20px;
		margin-bottom: 48px;
	}

	.recall-form__wrapper {
		max-width: 377px;
		row-gap: 17px;
		transform: translatex(-1px);
		margin-bottom: 48px;
	}

	.button--questions {
		max-height: 48px;
		margin-bottom: 31px;
	}

	.recall-form__input {
		font-size: 20px;
		flex-basis: 42px;
		padding: 6px 23px;
	}

	.questions__agreement {
		font-size: 17px;
	}
}

@media (max-width:600px) {
	.questions {
		padding: 30px 0;
	}

	.questions__title {
		font-size: 20px;
		margin-bottom: 15px;
	}

	.questions__subtitle {
		font-size: 12px;
		margin-bottom: 35px;
	}

	.recall-form__wrapper {
		max-width: 290px;
		row-gap: 14px;
		margin-bottom: 46px;
	}

	.recall-form__input {
		max-height: 28px;
		font-size: 14px;
		padding: 6px 18px;
	}

	.button--questions {
		margin-bottom: 30px;
		padding: 10px 29px;
		transform: translateX(-1px);
	}

	.questions__agreement {
		font-size: 11px;
	}
}